@{
    ViewData["Title"] = "Setting Page";
}
<link rel="stylesheet" href="~/css/setting.css" />
<section class="dx-viewport">
    @* <div id="tabPanel"></div> *@
    <div id="gridContainer"></div>
</section>
@section Scripts {
    <script src="~/js/setting.js"></script>
}
