@{
    ViewData["Title"] = "Report";
}

<link rel="stylesheet" href="~/css/report.css" />
<div id="formContainer"></div>
<div id="tabPanel">
    <div id="tabPanelContainer">     
    </div>
</div>
@section Scripts {
    <script src="~/js/report.js" asp-append-version="true"></script>
}